BrowserAct Product Image to AI Video Automation.json
{
  "name": "BrowserAct Product Image to AI Video Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        -128
      ],
      "id": "bab21957-2460-4d61-be9f-365703ac5ee5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "type": "WORKFLOW",
        "workflowId": "73948758645931553",
        "workflowConfig": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "input-Target_URL",
            "input-Search_Keyword",
            "input-Data_Limit"
          ],
          "schema": [
            {
              "type": "string",
              "display": true,
              "defaultMatch": true,
              "id": "input-Target_URL",
              "displayName": "Target_URL",
              "required": false,
              "description": "If left blank, the default value defined in BrowserAct will be used.",
              "removed": true
            },
            {
              "type": "string",
              "display": true,
              "defaultMatch": true,
              "id": "input-Search_Keyword",
              "displayName": "Search_Keyword",
              "required": false,
              "description": "If left blank, the default value defined in BrowserAct will be used.",
              "removed": true
            },
            {
              "type": "string",
              "display": true,
              "defaultMatch": true,
              "id": "input-Data_Limit",
              "displayName": "Data_Limit",
              "required": false,
              "description": "If left blank, the default value defined in BrowserAct will be used.",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-browseract.browserAct",
      "typeVersion": 1,
      "position": [
        320,
        -128
      ],
      "id": "a6b5b7fd-fe58-44ce-ab6b-c2ed4acc912f",
      "name": "Run a workflow",
      "credentials": {
        "browserActApi": {
          "id": "B9O5ngIi316K8Djm",
          "name": "BrowserAct account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        736,
        -128
      ],
      "id": "adaba9ad-f0c5-44a8-8d76-852a868e7bcb",
      "name": "limit_products"
    },
    {
      "parameters": {
        "jsCode": "// 1. 取出 BrowserAct 返回的 JSON 字符串\nconst raw = $json.output.string;\n\n// 2. 解析成真正的 JS 对象（数组）\nlet products;\ntry {\n  products = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"JSON parse failed: \" + e.message);\n}\n\n// 3. 确保是数组，转成 n8n item 格式\nif (!Array.isArray(products)) {\n  throw new Error(\"Parsed data is not an array\");\n}\n\n// 4. 返回为 n8n 可循环的 items\nreturn products.map(item => ({\n  json: item\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -128
      ],
      "id": "b54a89a3-a03c-4cad-a7dd-30cb014c3d81",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        144
      ],
      "id": "4385e759-a72e-491a-ae2e-2a989347367b",
      "name": "fetch_image"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        64
      ],
      "id": "9551dca5-8348-44ce-9d93-340608cd6a6b",
      "name": "iterate_products"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        560,
        144
      ],
      "id": "bc7b25cd-04e1-44e2-9ea2-90a56634ce69",
      "name": "convert_to_base64"
    },
    {
      "parameters": {
        "name": "={{ $(\"iterate_products\").item.json.title }}.jpg",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        144
      ],
      "id": "c3c7af01-2807-42b8-8efb-6cf41c0e20ce",
      "name": "upload_source_image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "D9RgCEjikZmtfvWF",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fcbcd5d-70c8-49ba-a819-6332efaf089d",
              "name": "prompt",
              "value": "=Generate a professional 8-second e-commerce showcase video for this fashion/furniture item. The camera should perform a slow, elegant 360-degree pan in a bright studio to show texture and design details.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        144
      ],
      "id": "b6b2366b-a97e-4392-8235-94396d6369de",
      "name": "set_prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.1-generate-preview:predictLongRunning",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.prompt }}\",\n      \"image\": {\n        \"mimeType\": \"image/jpeg\",\n        \"bytesBase64Encoded\":\"{{ $node['convert_to_base64'].json.data }}\"\n      }\n    }\n  ],\n  \"parameters\": {\n    \"durationSeconds\": 8,\n    \"aspectRatio\": \"9:16\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        384
      ],
      "id": "9627fb5b-99a4-45b9-8c08-89e55a49e00b",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lBXHZz1YhUIXLhiC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        304,
        384
      ],
      "id": "6cad0918-2276-4fde-8f43-1444191ebc2b",
      "name": "Wait",
      "webhookId": "7c7da84f-41c7-4bfe-857c-84a9da908209"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        384
      ],
      "id": "80ccdb97-cdbd-4ebd-99bd-acd5a203c3cb",
      "name": "fetch_status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lBXHZz1YhUIXLhiC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "006f9cc1-e58b-4d90-ab44-1bef744115f3",
              "leftValue": "={{ $json.done }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        384
      ],
      "id": "0e515cf1-27ed-4145-beda-c87a5912ff6e",
      "name": "check_response"
    },
    {
      "parameters": {
        "url": "={{ $node[\"fetch_status\"].json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        400
      ],
      "id": "511608c0-ae60-4971-8173-65ebf4edcfb2",
      "name": "download_video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lBXHZz1YhUIXLhiC",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $(\"iterate_products\").item.json.title }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1lRC0KN0DBl9lljHzPN1NyEVF60_xorMB",
          "mode": "list",
          "cachedResultName": "n8n video",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lRC0KN0DBl9lljHzPN1NyEVF60_xorMB"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        400
      ],
      "id": "7da2a9d2-7622-44a0-830a-0e1e7b6feaa6",
      "name": "upload_output_video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "D9RgCEjikZmtfvWF",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        736,
        144
      ],
      "id": "ec0d61c2-3ef5-4374-a6eb-dce948412770",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Run a workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run a workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "limit_products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limit_products": {
      "main": [
        [
          {
            "node": "iterate_products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "iterate_products": {
      "main": [
        [],
        [
          {
            "node": "iterate_products",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_image": {
      "main": [
        [
          {
            "node": "convert_to_base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert_to_base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_source_image": {
      "main": [
        [
          {
            "node": "set_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "fetch_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_status": {
      "main": [
        [
          {
            "node": "check_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_response": {
      "main": [
        [
          {
            "node": "download_video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download_video": {
      "main": [
        [
          {
            "node": "upload_output_video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_output_video": {
      "main": [
        [
          {
            "node": "iterate_products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "upload_source_image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a619bbd1-1e42-4374-bc99-008d2ee63555",
  "meta": {
    "instanceId": "8727c5985d37ac81c88b5d17199bedc005056c07551fea699d1140f95e6b10c4"
  },
  "id": "Tf5WXvTtXGlugu6f",
  "tags": []
}